body {
    background: #F0F3F0; 
    margin-top: 2rem;
    text-align: center;
}


h2 {margin-left: 55px;}

.main-body{
    margin: 2rem 0px;

    height: 70vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    justify-content: space-between;

}

textarea {
    margin-top: 10px;
    margin-left: 50px;
    width: 80vw;
    height: 20vh;
    font-family: "Merriweather", serif;
    text-rendering: optimizeLegibility;
    font-size: 2rem;
    font-weight: 100;
    background-color: #fff;
    border: none;
    border-radius: 6px 6px 6px 6px;
    line-height: 1.4em;
    padding: 5px 8px;
}

.main-text{
    font-size:calc(1.36278rem + 2.24562*(100vw - 36rem)/39);
    font-family: "Arial", sans-serif;
    font-weight: 600;
    line-height: 1.05;
    letter-spacing: -.03em;
    color:#998118
}
.first-text{
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: #4a4a56;
}

.button{
    border: none;
    padding: 0.8rem 1rem;
    margin: 0.5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffd000;
}
.button-box{
    display: flex;
    align-content: flex-start;
    align-items: flex-end;
    justify-content: center;
    margin-top: 30px
}

.time-input{
    height: 100%;
    width: 20px;
    font-family: "Merriweather", serif;
    text-rendering: optimizeLegibility;
    font-size: 1.5rem;
    font-weight: 100;
    padding: 0.2rem 0.4rem 0.4rem 0.4rem;
}
.time-selector{
    border-radius: 10px;
    padding: 0.5rem .5rem;
    padding-bottom: 0rem;
}

.score-card{
    padding: 1.2rem 2rem;
    background-color: #fff;
    border-radius: 20px;
    font-size: 3rem;
    letter-spacing: .1rem;
    font-weight: 700;
    margin:0rem .5rem;
}


.score-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.small{
    padding: 0.7rem 0.6rem;
    margin: 0.5rem 0.3rem;

}

textarea:focus {
    background: none repeat scroll 0 0 #FFFFFF;
    outline-width: 0;
}
.submit{
    padding: .2rem 1rem;
    width: fit-content;
    background-color: #fff;
    border-radius: 10px;
    font-size: 2rem;
    letter-spacing: .1rem;
    cursor: pointer;
    margin:0rem .5rem;
    border: none;
}

.yellow {
    background-color: #ffd000;
}